html, body {
        height: 100%;
        margin: 50;
        /*margin: 100%;*/
        /*padding: 0;*/
      }

      h1, h3 {
        font-family: 'Quicksand', sans-serif;
      }

      #map {
      bottom: 0px;
      height: 100%;
      left: 362px;
      position: absolute;
      right: 0px;
    }

    .options-box {
      background: #AFD7CD;
      border: 3px solid #999;
      border-radius: 3px;
      height: 100%;
      line-height: 35px;
      padding: 10px 10 px 30px 10px;
      text-align: left;
      width: 350px;
    }
     
    #pano {
      width: 200px;
      height: 200px;
    }

    .text {
      font-size: 12px;
    }

    /*.nav {
      width: 300px;
      height: 100%;
      position: absolute;
      transform: translate(-300px, 0);
      transition: transform 0.3s ease;
    }

    .nav.open {
      transform: translate(0, 0);
    }

    @media screen and (min-width: 600px) {
      nav {
        position: relative;
        transform: translate(0, 0);
      }
      body {
        display: flex;
        flex-flow: row nowrap;
        }  
        main {
          width: auto;
          flex-grow: 1;
          }  
        }*/
